/*цвет фона nav белый #ffffff */
/*цвет фона основной светло серый #E5E5E5 */
/* цвет фона серый #F5F4FA  */
/* цвет фона темно-серый #2F303A  */

/* цвет текста основного #757575 */
/* цвет текста вторичного #212121 */

/*акцент #2196F3 */
/*вторичный цвет */

:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-white-color: #ffffff;
}

body {
	background-color: var(--primary-white-color);
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
	font-size: 14px;
	line-height: 1.71;
}

html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.a {
	text-decoration: none;
	color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
	display: block;
	max-width: 100%;
	height: auto;
}
/* Свойства для обнуления курсива у address */
address {
	font-style: normal;
}

/* Обнуление для формы */
fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

legend {
	padding: 0;
}

/*styles container*/

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;

	margin-left: auto;
	margin-right: auto;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

/* style header*/
.line {
	border-bottom: 1px solid #e5e5e5;
}

.logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
	color: var(--accent-color);

	margin-right: 93px;
}
.logo-nav {
	display: flex;
	align-items: center;
}
.main-header {
	display: flex;
	align-items: center;
}
.accent {
	color: #000000;
}

.site-nav {
	display: flex;
	
}

.site-nav .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--title-text-color);
}

.site-nav .list:not(:last-child) {
	margin-right: 50px;
}
.site-nav a:hover,
.site-nav a:focus {
	color: var(--accent-color);
}

.site-nav a {
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .current {
	color: var(--accent-color);
}

.auth-nav {
	display: flex;
	margin-left: auto;
}
.auth-nav .list:not(:last-child) {
	margin-right: 50px;
}

.auth-nav a {
	font-weight: 500;
	letter-spacing: 0.02em;
	line-height: 1.14;
	color: var(--primary-text-color);
	text-decoration: none;

	display: flex;
	align-items: center;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav a:hover,
.auth-nav a:focus {
	color: var(--accent-color);
}

.auth-icon:hover .icon-link,
.auth-icon:focus .icon-link {
	fill: var(--accent-color);
}

.auth-icon {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.icon-link {
	fill: var(--primary-text-color);
	margin-right: 10px;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .list {
	position: relative;
}
.site-nav .current::after {
	content: "";

	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 4px;
	border-bottom: 4px solid var(--accent-color);
}

/*  style hero*/

.hero {
	background-color: #2f303a;
	text-align: center;

	padding: 200px 0;

	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg.jpg.jpg");
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--primary-white-color);

	width: 696px;
	margin-left: 452px;

	margin-bottom: 30px;
}

/* скрытие заголовка*/

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*styles feature*/

.features-list {
	display: flex;
	flex-wrap: wrap;
}

.features-list .item {
	width: 270px;
	margin-right: 30px;
}

.features-list .item:nth-child(4n) {
	margin-right: 0;
}

.features-list .item:nth-last-child(-n + 4) {
	margin-bottom: 0;
}

.features-list .item::before {
	content: " ";
	display: block;
}

.item-icons {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #f5f4fa;

	margin-bottom: 30px;

	width: 270px;
	height: 120px;
}

/*style about*/

.about {
	padding-top: 0;
}
.about-list {
	display: flex;
	flex-wrap: wrap;
}

.about-list .item {
	width: 370px;
	margin-right: 30px;

	
}

.about-list .item:nth-child(3n) {
	margin-right: 0;
}
.about-list .item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

/* label on section чем мы занимаемся */

.about-label {
	display: flex;
   justify-content: center;
   align-items: center;
	
	position: absolute;
	bottom: 0;
	left: 0;

	font-weight: 700;
	line-height: 1.14;
	text-align: center;
   text-transform: uppercase;
   color: var(--primary-white-color);
	background: rgba(47, 48, 58, 0.8);

	width: 100%;
	height: 70px;
}

.about-picter {
	position: relative;
}
	
/* style section*/

.section-title {
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	color: var(--title-text-color);

	/* margin-top: 94px; */
	margin-bottom: 50px;
}

.feature-title {
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--title-text-color);

	margin-bottom: 10px;
}

/* styles team */

.team {
	background-color: #f5f4fa;
}

.team-items {
	display: flex;
	flex-wrap: wrap;
}

.team-items .list {
	width: 270px;
	margin-right: 30px;

	border-radius: 0px 0px 4px 4px;
}

.team-items .list:nth-child(2n + 1) {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-items .list:nth-child(2n + 0) {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-items .list:nth-child(4n) {
	margin-right: 0;
}

.list:nth-last-child(-n + 4) {
	margin-bottom: 0;
}
.list {
	background-color: #ffffff;
}
.team-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	color: var(--title-text-color);

	text-align: center;
	margin-bottom: 10px;
}
.team-list {
	padding-top: 30px;
	padding-bottom: 30px;
}
.team-description {
	font-size: 16px;
	line-height: 1.2;

	text-align: center;
	margin: 0;
}

/*team social icons*/

.team-icon {
	fill: #afb1b8;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-icon {
	display: flex;

	justify-content: center;
	margin-top: 16px;
}

.team-link {
	display: flex;
	justify-content: center;
	align-items: center;

	border: none;
	width: 44px;
	height: 44px;
	background-color: #ffffff;

	border-radius: 50%;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-icon {
	margin-right: 10px;
}

.team-item-icon:last-child {
	margin-right: 0;
}

.team-link:hover .team-icon,
.team-link:focus .team-icon{
	fill: #ffffff;
}

.team-link:hover,
.team-link:focus  {
	background-color: var(--accent-color);
}

/* style clients*/

.clients-icon {
	fill: #afb1b8;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 170px;
	height: 92px;
	border: 1px solid #afb1b8;
	border-radius: 4px;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item {
	display: flex;
	justify-content: center;
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
	fill: var(--accent-color);
}

.clients-link:hover,
.clients-link:hover {
	border: 1px solid var(--accent-color);
}

.clients-list {
	margin-right: 30px;
}

.clients-list:last-child {
	margin-right: 0;
}
/*style  button*/
.button {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	align-items: center;

	letter-spacing: 0.06em;
	cursor: pointer;
	font-family: inherit;
	color: var(--primary-white-color);
	background-color: var(--accent-color);

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 32px;
	padding-right: 32px;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
}

.features-button {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	color: var(--title-text-color);
	background-color: #f5f4fa;
}

/* styles portfolio*/

.contacts-nav a {
	font-weight: 500;
	letter-spacing: 0.02em;
	line-height: 1.14;
	color: #757575;
	text-decoration: none;

	display: flex;
}
.contacts-nav {
	display: flex;
	margin-left: auto;
}

.contacts-nav .list:not(:last-child) {
	margin-right: 50px;
}

.portfolio-filters {
	display: flex;
	justify-content: center;

	margin-bottom: 50px;
}

.portfolio-filters .item:not(:last-child) {
	margin-right: 8px;
	padding: 0;
}

.portfolio-filters .item:last-child {
	margin-right: 0;
}

.team-list {
	padding-top: 24px;
	padding-bottom: 24px;
	

}

/* overlay portfolio */
.cards-foto-overlay {
	position: relative;

	overflow: hidden;
}


.cards-overlay {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	padding: 63px 24px;

	background: rgba(33, 150, 243, 0.9);

	transform: translateY(101%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.elements:hover .cards-overlay,
.elements:focus .cards-overlay {

	transform: translateY(0);
}

.cards-information {
	
font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: var(--primary-white-color);

}

/* styles cards*/

.cards-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--title-text-color);

	
}
.cards-list {
	padding: 24px;

	border: 1px solid #eeeeee;

	
}
.cards {
	display: flex;
	flex-wrap: wrap;
}

.cards-menu {
	display: inline-block;
	text-decoration: none;
	color: var(--primary-text-color);

	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-menu:hover,
.cards-menu:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.elements {
	width: 370px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.elements:nth-child(3n) {
	margin-right: 0;
}
.elements:nth-last-child(-n + 3) {
	margin-bottom: 0;
}
.cards-text {
	font-size: 16px;
	line-height: 1.9;

	/*padding-left: 24px;*/
	margin-top: 0;
	margin-bottom: 0;
}

.filters-button {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-text-color);

	padding: 6px 22px;
	border-radius: 4px;
	border: none;
	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
					color 250ms cubic-bezier(0.4, 0, 0.2, 1),
					box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-button.active {
	background-color: var(--accent-color);
	color: var(--primary-white-color);
}

.filters-button:hover,
.filters-button:focus {
	background-color: var(--accent-color);
	color: var(--primary-white-color);

	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*.filters-button:focus:hover {
   color: var(--primary-white-color);
}*/

/*.filters-button:focus {
   color: var(--accent-color);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}*/

/*social icon*/

.social-icon {
	fill: var(--primary-white-color);

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list {
	display: flex;
	justify-content: center;
}
.social-item:last-child {
	margin-right: 0;
}
.social-link {
	display: flex;
	align-items: center;
	justify-content: center;

	border: none;
	width: 44px;
	height: 44px;
	background-color: rgba(255, 255, 255, 0.1);

	border-radius: 50%;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
	background-color: var(--accent-color);
}

.social-inner {
	display: flex;
	flex-direction: column;
	margin-left: 70px;
}

.social-item {
	margin-right: 10px;
}
.social-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;

	margin-bottom: 20px;
}
/* styles footer*/



.footer-align {
	display: flex;
	align-items: baseline;
}



.footer {
	background-color: #2f303a;

	padding-top: 60px;
	padding-bottom: 60px;
}

.adress-list a {
	text-decoration: none;
	font-size: 14px;
	font-style: normal;
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.adress-link:hover,
.adress-link:focus {
	color: var(--accent-color);
}

.accentes {
	color: #ffffff;
}

.adress-list .current {
	color: var(--primary-white-color);
}

.adress-list .item {
	margin-bottom: 9px;

	
}

.adress-list .item:last-child {
	margin-bottom: 0;
}
.footer .logo {
	display: block;
	margin-bottom: 20px;
	margin-right: 0;
}

/*modal window styles*/

/* делаем фон модальному окну */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.2);

	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* скрываем модальное окно */
.backdrop.is-hidden {
	opacity: 0;
	/* visibility: hidden; */
	pointer-events: none;
}

/* позиционируем модальное окно по центру backdrop */
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 528px;
	max-height: 581px;
	height: 100%;

	background-color: var(--primary-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;	

	transform: translate(-50%, -50%) scale(1);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
	}

.backdrop.is-hidden .modal {
		transform: translate(-50%, -50%) scale(0.9);
	}

.button-close {
	position: absolute;
	top: 8px;
   right: 8px;

	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: var(--primary-white-color);
	
}

.icon-close {
	fill:#000;
}

/* стилизация формы в footer */
.form-label {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #FFFFFF;

	margin-bottom: 20px;
	
	}

.form-email {
	display: flex;
	align-items: flex-end;
	margin-left: auto;
	
   
}
.form-field {
	display: flex;
	flex-direction: column;
	
	margin-right: 12px
}

.form-input {
	width: 358px;
	height: 50px;
	left: 815px;
	top: 2787px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background: #2F303A;
	color: var(--primary-white-color);

	padding-left: 15px;
}

.form-input::placeholder {
	font-size: 16px;
	line-height: 1.25;
	color: rgba(255, 255, 255, 0.6);
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);

	
}

.form-button {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	
	height: 50px;
	width: 200px;

	position: relative;
	padding-left: 29px;
    padding-right: 62px
	
}

.form-icon {
	position: absolute;
	top: 50%;
	right:28px;
	transform: translateY(-50%);

	
}

/* Стилизируем фориу модального окна */

.form-conect {
	padding: 40px;
}

.form-modal-name {
	display: block;

	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;

	color: var(--title-text-color);

	margin-bottom: 12px;
}
.modal-form-label {
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	margin-bottom: 4px
}

.form-field-modal {
	display: flex;
	flex-direction: column;

	margin-bottom: 10px;
	position: relative;
}


.form-field-modal:last-child{
	margin-bottom:0;
}
.modal-form-input {
	padding-left: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	outline: none;
	border-radius: 4px;
	height: 40px;

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
					fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* меняем border при фокусе */
.modal-form-input:focus-within,
.modal-form-input:focus,
.modal-form-input:hover {
	border-color: var(--accent-color);
	fill: var(--accent-color);
}

/*  меняем иконку цвет при focuse */

.modal-form-input:hover + .icon-modal,
.modal-form-input:focus + .icon-modal {
	fill: var(--accent-color);
}

.icon-modal {
	position: absolute;
	top: 65%;
	left: 12px;
	transform: translateY(-50%);

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 
					fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.icon-close:focus,
.icon-close:hover {
 fill: var(--accent-color);
}

.modal-form-input-textarea {
	resize:none;
	height: 120px;

	padding: 12px 16px;

}

/*  Стили для checkbox */
.check {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 20px;
}

.checkbox-link {
	color: var(--accent-color);
	margin-left: 5px;
}


.check-box {
	display: inline-block;
	width: 16px;
	height: 15px;
	border: 2px solid var(--title-text-color);
	border-radius: 2px;
	margin-right: 8px;
}

.check-input:checked + .check-box {
	background-color: var(--accent-color);
	background-image: url(../images/icon-check.svg);
	background-size: contain;
	background-repeat: no-repeat;
	border: 2px solid var(--accent-color);
}

/*центрирую кнопку */
.button {
	margin: 0 auto;
	margin-top: 30px;
}
/* меняю style для placeholder */
.modal-form-input-textarea::placeholder {
	line-height: 1.14;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}

